<header class="navbar navbar-inverse navbar-toggleable-md bd-navbar">
  <nav class="container">
	<div class="d-flex justify-content-between hidden-lg-up">
	  <a class="navbar-brand" href="?controller=admin&action=getViewAdmin">KTCS</a>
	</div>
	<div class="collapse navbar-collapse" id="bd-main-nav">
	  <ul class="nav navbar-nav">
		<li class="nav-item">
		  <a class="nav-item nav-link " href="?controller=admin&action=getViewAvailableCars">Generate Invoice</a>
		</li>
		<li class="nav-item">
		  <a class="nav-item nav-link " href="?controller=admin&action=getViewAddCar">Add Car</a>
		</li>
		<li class="nav-item">
		  <a class="nav-item nav-link" href="?controller=admin&action=getViewRentalHistory">Rental History</a>
		</li>
		<li class="nav-item">
		  <a class="nav-item nav-link" href="?controller=admin&action=getViewAvailableLocationCars">Available Cars</a>
		</li>
		<li class="nav-item">
		  <a class="nav-item nav-link" href="?controller=admin&action=getViewNeedsMaintenance">Greater Than 5000 KM</a>
		</li>
		<li class="nav-item">
		  <a class="nav-item nav-link" href="?controller=admin&action=getViewMaxMinReservations">High/Low Rentals</a>
		</li>
		<li class="nav-item">
		  <a class="nav-item nav-link active" href="?controller=admin&action=getViewDamaged">Damaged</a>
		</li>
        <li class="nav-item">
		  <a class="nav-item nav-link active" href="?controller=admin&action=getViewReservations">Reservations Today</a>
		</li>
        <li class="nav-item">
		  <a class="nav-item nav-link active" href="?controller=admin&action=getViewReplyComment">Respond To Comment</a>
		</li>
        <li class="nav-item">
		  <a class="nav-item nav-link active" href="?controller=user&action=getViewLogout">Logout</a>
		</li>
	  </ul>
	</div>
  </nav>
</header>
